.accordion{
    margin-left: 160px;
    max-width: 675px;
}
.acc-div{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(204, 202, 202) ;
}
.acc-div>span{
    font-size: 25px;
    font-family: Arial, sans-serif;
}
.acc-div>img{
    padding-left: 5px;
    height: 15px;
}

@media screen and (max-width: 769px) {
    .accordion{
      margin-left: 60px;
      min-width: 425px;
    }
  }