.profile-body{
    padding: 10px;
    border-left: 1px solid gray ;
    height: 550px;
}
@media screen and (max-width: 1410px) {
    .profile-body {
      margin-left: 150px;
      border:hidden;
    }
  }
@media screen and (min-width:500px) and (max-width: 769px) {
    .profile-body{
      margin-left: 50px;
    }
  }
@media screen and (max-width: 500px) {
.profile-body{
    margin-left: 20px;
}
}

.profileDiv{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(186, 185, 185) ;
    width: 540px;
}

.profileDiv>img{
    width: 70px;
    height: 70px;
}

.nameDiv{
    padding: 10px;
}

#name{
    font-size: 30px;
    font-family: Arial, sans-serif;
}

#designation{
    font-size: 15px;
    color: rgb(142, 143, 144);
    font-family: Arial, sans-serif;
}
